.nav-link-component {
    color: #fff !important;
    font-family: DM Sans, sans-serif !important;
    font-weight: 400 !important;
}

.nav-link-component span {
    font-size: 21px !important;
}

.nav-link-component:hover {
    background-color: rgb(15 29 34) !important;
    border-radius: 20 !important;
    -webkit-border-radius: 20 !important;
    -moz-border-radius: 20 !important;
    -ms-border-radius: 20 !important;
    -o-border-radius: 20 !important;
}

.nav-link-component a,
.footer a {
    text-decoration: none !important;
    color: #fff;
}

.page {
    background-color: #F2F4F6 !important;
    height: 100vh !important;
    overflow-y: auto !important;
    padding-bottom: 60px !important;
}

.footer {
    background-color: #1B3139;
    border-top: none !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

body {
    margin: 0 !important;
}

.ag-theme-alpine {
    --ag-alpine-active-color: #FF6859 !important;
    --ag-row-hover-color: #FFB4AC !important;
    --ag-selected-row-background-color: #FFB4AC !important;
}